header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-container {
  margin: 0;
  padding: 0;
}

.logo-container:hover {
  cursor: pointer;
}